// configurando links
a {
  cursor: pointer;

  text-decoration: none; // remover sublinhado

  // estabelecendo tamanho da fonte , config da fonte definida no "_typography.scss":
  // fonte: 'p3' | tela: 'desktop'
  @include typeface-2(p3, desktop);

  color: $black-light;

  transition: 0.3s ease; // tempo de transição para efeito hover

  &:hover {
    font-size: bold !important;
  }
}

// configurando cor acentuada p/ inputs (cor de caixinha marcada)
input {
  accent-color: $primary-normal;
}

// configurando inputs
input,
select,
option,
textarea {
  padding: 10px 12px;
  background-color: $white-light;
  border: 0; // remover bordas
  border-radius: 4px;
  width: 100%; // sempre ocupar a largura total do 'pai'
  color: $black-light;
  @include typeface-2(p3, desktop);
}

select,
option {
  height: 48px;
}

// configurando botão principal
.btn {
  display: inline-block;
  padding: 10px 70px;

  // use cores desejada...
  color: $white-light;
  background: $primary-normal !important;

  border-radius: 4px;
  border: 0;

  @include typeface-2(p3, desktop);

  cursor: pointer;

  transition: 0.3s ease;
  &:hover {
    opacity: 0.7; // aplicar opacidade
  }
}

.btn-search {
  cursor: pointer;
  height: 46px;
  width: 56px;

  background-image: url("/assets/svg/icon-search.svg");
  background-repeat: no-repeat; // ñ repetir icone
  background-position: center center; // centralizar nos dois eixos

  background-color: $white-light;
  border: 0;
  border-radius: 4px;

  // colar o elemento (botao) no input
  transform: translate3d(-5px, 0, 0); // descer 6px no eixo y
}

.btn-alt {
  display: inline-block;
  padding: 10px 20px;

  // use cores desejada...
  color: $black-normal;
  background: $white-normal !important;

  border-radius: 4px;
  border: 0;

  @include typeface-2(p3, desktop);

  cursor: pointer;

  transition: 0.3s ease;
  &:hover {
    opacity: 0.7; // aplicar opacidade
  }
}