* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import "sass/colors";
@import "sass/layout";
@import "sass/spacing";
@import "sass/typography";

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;

  background-color: $white-light;

  &::-webkit-scrollbar {
    padding-right: 4px;
    width: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: $primary-normal;
  }
}

.border {
  border: 1px solid red;
}

.border-g {
  border: 1px solid green;
}

.hidden {
  overflow: hidden;
}

svg,
img {
  width: 100%;
  //height: auto;
}

@import "sass/icons";
@import "sass/buttons";
